* {
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    font-family: Lora;
}

body {
    background-color: gainsboro;
}

.card {
    border: 1px solid blueviolet;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 20px 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    background-color: ghostwhite;
}

@media screen and (max-width: 520px) {
    .card {
        padding: 10px 120px;
    }
}

.dp {
    width: 50%;
    /* padding: 50px 50px; */
    background-color: black;
    height: auto;
    border: 2px solid white;
    border-radius: 50%;

}

.name {}

@media screen and (max-width: 520px) {
    .name {
        font-size: 12px;
    }
}

.about {}

.bio-main {
    /* border: 1px solid red; */
    display: flex;
    flex-flow: column;
    align-items: center;
}

.bio-div {
    border: 2px solid red;
    display: flex;
    gap: 30px;
    align-items: center;
}

.bio-div h5 {
    text-align: center;
    border: 2px solid red;
}

.bio-div button {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.bio-div button:hover {
    background-color: rgb(201, 195, 195);
}

.edit-modal {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    box-shadow: 1px 1px 5px blueviolet;
    z-index: 30px;
    width: fit-content;
    display: flex;
    flex-flow: column;
    gap: 10px;
    display: none;
}

@media screen and (max-width: 520px) {
    .edit-modal {
        padding: 10px 10px;
        gap: 15px;
    }
}

.edit-modal textarea {
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    height: 120px;
    resize: none;
    padding: 10px 10px;
}

@media screen and (max-width: 520px) {
    .edit-modal textarea {
        width: 300px;
        height: 90px;
    }
}

.edit-modal textarea:focus {
    outline: none;
}

.edit-modal div {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.edit-modal div button {
    padding: 8px;
    background-color: blueviolet;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.edit-modal div button:hover {
    background-color: rgb(92, 29, 151);
}

.overlay {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    display: none;
}